/* Variables */

:root {
  --basic-green: #849D8F;
  --basic-blue: #8996A6;
  --basic-red: #9D8B84;
  --basic-black: #323232;
  --basic-white: #FFFFFF;
  --light-white: #FEFEFE;
  --white-grey: #F8F7F4;
  --black-grey: #5A5A5A;
  --white-blue: #FBFCFB; 

  --background-hover-pink: #FBDED7;
  --background-focus-pink: #F6B5A5;
  --background-active-pink: #D07058;

  --link-pink: #FFBC9E;
  --link-onwhite-pink: #E84D37;
  
  }

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-green);
}

a {
  color: var(--basic-white);
}
  
img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Main navigation */

.logo {
  position: absolute;
  width: 154px;
  height: 64px;
  left: 27px;
  top: 9px;
  color: var(--white-blue);
}

.main-navigation {
  line-height: 28px;
}

.site-navigation {
  list-style: none;
  display: flex;
  align-items: center;
  position: absolute;
  left: 205px;
  top: 32px;
  
}

.phone-number {
  font-size: 22px;
  line-height: 24px;
}

/* Main banner */

.two-icecreams {
  font-size: 60px;
  line-height: 60px;
  
}

.two-icecreams li {
  list-style: none;
}

.give-two {
  font-size: 32px;
  line-height: 44px;
}

/* Banners */

.banner h3 {
  font-size: 35px;
  line-height: 41px;
}

.banner {
  font-size: 18px;
  line-height: 22px;
}

.banner a {
  font-size: 18px;
  line-height: 24px;
}

.raspberry {
  width: 560px;
  height: 229px;
  background-image: url("../img/raspberry_bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.chocolate {
  width: 560px;
  height: 229px;
  background-image: url("../img/chocolate_bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  border-radius: 16px;
}

/* Hits */
.hits-list {
  list-style: none;
}

.hits-item a {
  font-size: 16px;
  line-height: 22px;
}

.hits-item p {
  font-size: 45px;
  line-height: 45px;
}

.hits-item span {
  font-size: 30px;
  line-height: 35px;
}

/* About */

.about {
  font-weight: normal;
  color: var(--basic-black);
  background-image: url("../img/wafer.png");
  background-position: top left;
  background-repeat: repeat;
  width: 1146px;
  height: 306px;
  border-radius: 16px;
}

.text-about {
  font-size: 24px;
  line-height: 30px;
}

.about.icecream {
  background-image: url("../img/ice-cream.svg");
  width: 49px;
  height: 49px; 
}

.about.eco {
  background-image: url("../img/eco.svg");
  width: 49px;
  height: 49px;
}

.about.cow {
  background-image: url("../img/cow.svg");
  width: 49px;
  height: 49px;
}

.about.thermometr {
  background-image: url("../img/thermometr.svg");
  width: 49px;
  height: 49px;
}

/* Blog news */

.blog-news {
  width: 560px;
  height: 220px;
  left: 27px;
  top: 1626px;  
  background-image: url("../img/strawberry_bg_news.png");
  background-position: top center;
  background-repeat: no-repeat;
  color: var(--basic-black);
  
}

.blog-news h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.blog-news a {
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black)
}

/* Subscribe */

.subscribe {
  width: 548px;
  height: 210px;
  left: 619px;
  top: 1631px;
  font-weight: normal;    
  color: var(--black-grey);
  background-color: var(--white-grey);
  border-radius: 16px;
}

/* Contacts */

.contacts {
  background-image: url("../img/pin.svg");
  background-repeat: no-repeat; 
}

.main-contacts p {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.main-contacts {
  width: 303px;
  height: 306px;
  left: 870px;
  top: 1948px;
  background-color: var(--light-white);
  border-radius: 16px;
  color: var(--basic-black);
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.main-contacts .bold {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.main-contacts a {
  color: var(--basic-black);
}

.main-contacts button {
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
}

/* Footer */

.main-footer li {
  list-style: none;
}

 
